* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.material-icons {
    font-size: 3rem;
}
.slideshow-container{
    display: flex;
}
.main{
    display: flex;
}
.menu-btn{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Nanum Myeongjo', serif;    font-size: 3rem;
}
.mySlides>img{
    width: 500px;
}
.Menu-Bar{
    font-family: 'Nanum Myeongjo', serif;    margin-top: 45px;
    margin-left: 25px;
    width: 300px;
    height: 625px;
    border: 1px solid wheat;
    border-color: #000;
    border-radius: 10px;
}
.name{
    margin-left: 30px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.menu-list{
    font-family: 'Nanum Myeongjo', serif;
}
.menu{
    font-size: 20px;
    margin: 45px;
}
.menu a{
    color: #000;
    text-decoration: none;
}
.gallery{
    width: 960px;
    height: 635px;
    position: relative;
    margin: 0 auto;
}
.gallery input[type=radio]{
    display: none;
}

header{
    font-size: 55px;
    background-color: #f0f0f0;
    height: 80px;
}
#logo>img{
    margin-left: 15px;
    margin-top: 15px;
    height: 45px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: flex;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}