* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
  display: flex;
}
.material-icons {
    font-size: 3rem;
}
.menu-btn{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Nanum Myeongjo', serif;    font-size: 3rem;
}
.Menu-Bar{
    font-family: 'Nanum Myeongjo', serif;    margin-top: 45px;
    margin-left: 25px;
    width: 300px;
    height: 625px;
    border: 1px solid wheat;
    border-color: #000;
    border-radius: 10px;
}
.name{
    margin-left: 30px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.menu-list{
    font-family: 'Nanum Myeongjo', serif;
}
.menu{
    font-size: 20px;
    margin: 45px;
}
.menu a{
    color: #000;
    text-decoration: none;
}
.gallery input[type=radio]{
    display: none;
}

header{
    font-size: 55px;
    background-color: #f0f0f0;
    height: 80px;
}
#logo>img{
    margin-left: 15px;
    margin-top: 15px;
    height: 45px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin : auto auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 500px;
}
.what{
  background-color: none;
  margin : 60px;
  width: 1200px;
  height: 600px;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}