header{
    font-size: 55px;
    background-color: #f0f0f0;
    height: 100px;
}
.material-icons {
    font-size: 3rem;
}
.menu-btn{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Nanum Myeongjo', serif;    font-size: 3rem;
}
.Menu-Bar{
    font-family: 'Nanum Myeongjo', serif;    margin-top: 45px;
    margin-left: 25px;
    width: 300px;
    height: 625px;
    border: 1px solid wheat;
    border-color: #000;
    border-radius: 10px;
}
.menu-list{
    font-family: 'Nanum Myeongjo', serif;
}
.menu{
    font-size: 20px;
    margin: 45px;
}
.menu a{
    color: #000;
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 50px;
}
h3{
    padding-left: 10px;
    padding: 15px;
}
#Left{
    margin: 30px;
}
#Right{
    margin: 30px;
}
.Daily{
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    width: 345px;
    height: 570px;
    left: 441px;
    top: 180px;
    padding-left: 30px;
    background: none;
    border: 1px solid #000000;
}
.Weekly{
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    width: 556px;
    height: 206px;
    left: 900px;
    top: 225px;
    padding-left: 30px;
    background: none;
    border: 1px solid #000000;
}
.Monthly{
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    width: 556px;
    height: 206px;
    left: 900px;
    top: 500px;
    padding-left: 30px;
    background: none;
    border: 1px solid #000000;
}