.Daily-Repo{
    width: 345px;
    height: 570px;
    padding-top: 440px;
    padding-left: 230px;
}

.Weekly-Repo{
    width: 555px;
    height: 205px;
    padding-top: 830px;
    padding-left: 270px;
}

.Monthly-Repo{
    width: 555px;
    height: 205px;
    padding-top: 830px;
    padding-left: 535px;
}