<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소르데스</title>
    <link rel="public/Report.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="image/LOGO.png" alt="Logo">
        </div>
    </header>
    <main>
        <div class="Menu Bar">
            <label> <span class="material-icons">menu</span>
                <input type="button" value="Menu" class="menu-btn">
            </label>
            <section>
                <h1> MENU </h1>
                <ul class="menu-lists">
                    <li class="menu"><a href="http://localhost:8080/Repo">Report</a></li>
                    <li class="menu"><a href="http://localhost:8080/Challenge">Tip & Challenge</a></li>
                    <li class="menu"><a href="http://localhost:8080/Goal">Goal</a></li>
                    <li class="menu"><a href="http://localhost:8080/HTU">How To Use</a></li>
                </ul>
            </section>
        </div>
        <section>
            <div class="Daily-Repo">
                <img src="image/trash.png">
                <h3></h3>
            </div>
            <div class="Weekly-Repo">

            </div>
            <div class="Monthly-Repo">

            </div>
        </section>
    </main>
    <footer>
        <li><a href="#">제작자 소개</a></li>
        <li><a href="#">약관</a></li>
        <li><a href="#">사이트맵</a></li>
    </footer>
</body>
</html>