<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소르데스</title>
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="./public/owl.carousel.min.css">
    <link rel="stylesheet" href="./public/owl.theme.default.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
        </style>
</head>
<body>
    <header>
        <div id="logo">
            <a href="http://112.185.248.156:5500/front/views/main.html" target="_blank" id="logolink"><img src="../image/LOGO.png" style="margin-left: 15px; margin-top: 15px; height: 45px;"></a>
        </div>
    </header>
    <main> 
        <div class="Menu-Bar">
            <div class="name">
                    <button  class="menu-btn">Menu</button>   
                <ul class="menu-lists">
                    <li class="menu"><a href="./Report.html">Report</a></li>
                    <li class="menu"><a href="./Tip.html">Tip & Challenge</a></li>
                    <li class="menu"><a href="./Goal.html">Goal</a></li>
                    <li class="menu"><a href="./use.html" style="font-size: 30px; font: bolder;">How To Use</a></li>
                </ul>
            </div>
        </div>
    </main>
        
    <!--<footer>
        <li><a href="#">제작자 소개</a></li>
        <li><a href="#">약관</a></li>
        <li><a href="#">사이트맵</a></li>
    </footer>-->
    <script src = "../JS/mainSlide.js"></script>
</body>
</html>